<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= story.author %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= story.content %>
  </p>

</div>
